.container {
  margin: auto;
  width: 960px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 4.3rem minmax(100px, auto);
}

.cell1 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell1 h1 {
  font-size: 3rem;
  padding: 10px;
  text-align: center;
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; /* Not needed here as it is set in body */
}

.cell2 {
  height: 340px;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 40px;
}

.cell2 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.cell3 {
  background: yellow;
  height: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 40px;
  border: 1px solid black;
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

.cell4 {
  background: green;
  height: 200px;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 40px;
  border: 1px solid black;
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

.cell5 {
  background: pink;
  height: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  padding: 40px;
  border: 1px solid black;
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}
