@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900'); /* Sans Serif */
@import url('https://fonts.googleapis.com/css?family=Anton'); /* San Stif */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); /* San Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); /* Sarif */

* {
  box-sizing: border-box;
}

body {
  background-color: #b1a7a7;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; /* Custom Font */
}

main {
  margin-top: 4.5rem;
  min-height: calc(100vh - 3.5rem - 8rem);
}

.header-main {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #913710;
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main__title {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
  color: #e6d9d9;
}

.header-main__title a:hover {
  color: #DAB37E;
}

.main-nav {
  display: flex;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item{
  margin: 0 1rem;
  font-family: 'Roboto Slab';
}

.main-nav__item a {
  text-decoration: none;
  color: #e6d9d9;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover {
  color: #DAB37E;
  border-bottom: 5px solid #DAB37E;
}
