/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900'); /* Sans Serif */
@import url('https://fonts.googleapis.com/css?family=Anton'); /* San Stif */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); /* San Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); /* Sarif */

/* general styling */

* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;
}

/* header */
header {
  background-color: #444;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #913710;
  padding: 0.5rem 1rem;
  z-index: 60;
}

nav {
  width: 960px;
  margin: auto;
}

.header-image {
  margin-top: 2px;
  float: left;
  height: 70px;
  width: 200px;
}

header li {
  display: inline-block;
  line-height: 80px;
  margin-left: 90px;
  font-family: "Montserrat";
  font-weight: bold;
}

header li:first-child {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

nav a:hover {
  color: #DAB37E;
  border-bottom: 5px solid #DAB37E;
}

/* main */
main {
  width: 960px;
  margin: auto;
}

h1 {
  padding-top: 20px;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto Slab";
}

section li:nth-child(even) {
  font-size: 15px;
  font-family: Montserrat
}
.main-image__container {
  padding-top: 10px;
}

.main-image__container img {
  display: block;
  margin: auto;
}

.main-image__picture {
  padding-top: 30px;
}

.main-store-merch {
  margin-top: 30px;
  margin-right: 30px;
  height: 375px;
  width: 300px;
  float: left;
}

.main-store-merch h2 {
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
}

.main-store-merch__picture {
  height: 325px;
  width: 299px;
  border-radius: 10px;
}

.main-store-cookie {
  margin-top: 30px;
  margin-right: 0;
  height: 375px;
  width: 300px;
  float: left;
}

.main-store-cookie h2 {
  padding-bottom: 15px;
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
}

.main-store-cookie__picture {
  height: 163px;
  width: 299px;
  border-radius: 10px;
}

.main-store-locations {
  margin-top: 30px;
  margin-right: 30px;
  /* border: 1px solid black; */
  height: 375px;
  width: 300px;
  float: left;
}

.main-store-locations h2 {
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
}

.main-store-locations li {
  padding-top: 5px;
  text-align: center;
  line-height: 25px;
  display: block;
  font-family: "Anton";
  font-size: 1.5rem;
}

.main-store-locations p {
  text-align: center;
}

.main-store-info {
  margin-top: 30px;
  margin-right: 0;
  border: 1px solid black;
  height: 375px;
  width: 300px;
  float: left;
}

.main-history__picture {
  margin-top: 30px;
  width: 480px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

main h3 {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  
}

main article {
  width: 50%;
  float: right;
  margin-top: 30px;
}

article p {
  margin-top: 5px;
  margin-left: 30px;
  line-height: 20px;
  font-style: italic;
  overflow: auto;
  height: 330px;
}

/* footer */
footer {
  height: 90px;
  background-color: #444;
  margin-top: 30px;
}

footer li {
  display: inline-block;
  line-height: 90px;
  margin-left: 90px;
  font-family: "Montserrat";
  font-weight: bold;
}

footer li:first-child {
  margin-left: 30px;
}
